@model CompanyViewModel

<div class="text-center">
    <h1 class="display-4">Company</h1>
    <p> Adi:@Model.company.CompanyName</p>
    <p> Description:@Model.company.Descripton</p>
    <p> Adresi:@Model.company.CompanyAdress</p>
    <p> Yaradildi:@Model.company.Founded</p>
</div>
<hr />

<div class="text-center">
    <h1 class="display-4">Partner</h1>
    <p> Adi:@Model.partner.Name</p>
    <p> Description:@Model.partner.Adress</p>
</div>
